.wrapper {
    display: inline-flex;
    flex-direction: column;
    gap: 25px;
}

.title {
    font-size: 19px;
    margin: 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.button {
    border-radius: 5px;
    box-shadow: 0 0 1px rgb(50, 62, 72);
    transition: all 0.3s ease;
    padding: 10px 9px;
}

.button:hover {
    background-color: #f5f5f5;
    transition: all 0.3s ease;
}

.testDataWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid rgb(50, 62, 72);
    font-size: 18px;
}

.testDataWrapper > div {
    display: flex;
    gap: 5px;
}

@media (max-width: 590px) {
    .testDataWrapper > div {
        flex-direction: column;
    }
}

.testDataWrapper span {
    display: block;
    font-weight: 600;
}
